
  
    <div class="margintest">
        
    
          <h3> Leadership, Mentoring, Service </h3>
      

        Team Tucson is about helping people succeed in life through leadership, mentoring and service. Our purpose is to help youth believe they can succeed and that they have a purpose and destiny for their life. We aspire to help them line up their choices with a vision for their future. We educate and empower parents with skills to operate a parent-centered home, and establishing authority in a legal, ethical and effective manner.    
      
     </div>
  