
<div class="margintest" id="margintest">
    
      <h3> Team Tucson is... </h3>
      
    
    <div id="blockText">
    
      <p> a 501 ( c ) (3)  non-profit organization established in 2005. We mentor and have done it in many facets from one on one group mentoring to events, conferences, and classes. We primarily mentor youth and parents. We work with disadvantaged families, which comes in many forms from being homeless living in transitional housing, low income, single parents and at risk youth. </p>

      <p>Team Tucson helps people succeed in life through leadership, mentoring and service. Our purpose is to help youth believe they can succeed and that they have a purpose and destiny for their life. We aspire to help them line up their choices with a vision for their future. We educate and empower parents with skills to operate a parent-centered home, and establishing authority in a legal, ethical and effective manner. </p>

    </div>          
    
  </body>
  
</html>



    
      <h3> Team Tucson's Mission Statement </h3>
      
      
    <div id="blockText">
      Team Tucson is committed to impact our city for Christ through leadership, service, and mentoring. We are dedicated to encouraging and empowering youth to live a passionate life for Christ. It is our burden to reveal the love of God by sharing the good news of the forgiveness of sins through Jesus Christ’s sacrifice on the cross. We live the power of the Holy Spirit in our daily lives. We lead by teaching the 10 commandments, promoting and embodying a life of purity, and countering the culture's negative messages.
    </div>
      

    
      <h3> Team Tucson's Core Beliefs </h3>
      
    </div>
    
      <ul>
        <li>
          <p>Jesus was conceived by the Holy Spirit and born without sin (Lk 1:35).</p>
        </li>
        <li>
          <p>Jesus died on the cross to pay for our sins and give us a personal relationship with God, the Father (1 Cor 15:3).</p>
        </li>
        <li>
          <p>Jesus rose on the third day from the grave (1 Cor 15:4).</p>
        </li>
        <li>
          <p>Jesus is the only door to heaven (Jn 10:9).</p>
        </li>
        <li>
          <p>The gifts, the services, and the results are all from the Holy Spirit for the Glory of God (1 Cor 12:1-12).</p>
        </li>
        <li>
          <p>Jesus is Lord and coming back for His Church, and there will be a day when each of us will stand before God and have to give an account for our lives (Rom 14:10-12).</p>
        </li>
        <li>
          <p>Each person has a purpose, destiny and hope of glory if they choose Jesus as their Lord and Savior (Jer 29:11, Ps 139:13-18).</p>
        </li>
      </ul>
      
    </div>            
    
</div><
